
@font-face {
    font-family: "Gilroy Regular";
    src: url('../fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: "Gilroy Medium";
    src: url('../fonts/Gilroy-Medium.ttf');
}

@font-face {
    font-family: "Gilroy Semibold";
    src: url('../fonts/Gilroy-SemiBold.ttf');
}


@font-face {
    font-family: "Scada Regular";
    src: url('../fonts/Scada/Scada-Regular.ttf');
}

@font-face {
    font-family: "Scada Bold";
    src: url('../fonts/Scada/Scada-Bold.ttf');
}

@font-face {
    font-family: "Scada Italic";
    src: url('../fonts/Scada/Scada-Italic.ttf');
}

@font-face {
    font-family: "Scada BoldItalic";
    src: url('../fonts/Scada/Scada-BoldItalic.ttf');
}